# Lab | Data Structuring and Combining Data

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Alternative - Bonus

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files, and work with your clean files instead:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [18]:
# Your code goes here
import numpy as np
import pandas as pd

df1 = pd.read_csv('insurance_main.csv')
df2 = pd.read_csv('insurance_2.csv')
df3 = pd.read_csv('insurance_3.csv')

customer_data = pd.concat([df1, df2, df3],axis=0,ignore_index=True)

In [24]:
#cleaning combined df

def lower_case_column_names(columns):
    customer_data.columns = [i.lower() for i in customer_data.columns]
    return customer_data

def replace_white_spaces(columns):
    customer_data.columns = [i.replace(" ","_") for i in customer_data.columns]
    return customer_data

def rename(columns):
    customer_data.rename(columns={'st':'state'}, inplace=True)

lower_case_column_names(customer_data)
replace_white_spaces(customer_data)
rename(customer_data)

def clean_gender_values(g):
    if g in ['M','Male']:
        return 'Male'
    elif g in ['F','Femal','female']:
        return 'Female'
    else:
        return np.nan

def clean_states(s):
    if s in ['Washington', 'WA']:
        return 'Washington'
    elif s in ['Arizona', 'AZ']:
        return 'Arizona'
    elif s in ['California','Cali']:
        return 'California'

def clean_educ(e):
    if e in ["Bachelors","Bachelor"]:
        return 'Bachelor'
    else:
        return e 

def del_pct(data):
    customer_data['customer_lifetime_value'] = customer_data['customer_lifetime_value'].str.rstrip('%')
    return customer_data
    
def clean_vehicle(v):
    if v in ["Sports Car", "Luxury SUV", "Luxury Car"]:
        return "Luxury"

In [25]:
customer_data['gender'] = customer_data['gender'].apply(clean_gender_values)

customer_data['state'] = customer_data['state'].apply(clean_states)

customer_data['education'] = customer_data['education'].apply(clean_educ)

cleaned_df = del_pct(customer_data)
cleaned_df

customer_data['vehicle_class'] = customer_data['vehicle_class'].apply(clean_vehicle)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [65]:
# Your code goes here

ma_df = pd.read_csv('marketing_analysis.csv')
ma_df.number_of_policies.unique()
ma_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [67]:
#1 feature engineering

ma_df['total_revenue'] = ma_df['number_of_policies'] * ma_df['monthly_premium_auto'] * ma_df['month']

       number_of_policies  monthly_premium_auto  month  total_revenue
0                       9                    61      2           1098
1                       1                    64      1             64
2                       2                   100      2            400
3                       2                    97      1            194
4                       7                   117      1            819
...                   ...                   ...    ...            ...
10905                   7                   253      1           1771
10906                   6                    65      1            390
10907                   2                   201      2            804
10908                   6                   158      2           1896
10909                   3                   101      1            303

[10910 rows x 4 columns]

In [70]:
revenue_channel = ma_df.pivot_table(index='sales_channel',values='total_revenue', aggfunc= 'sum')
revenue_channel

               total_revenue
sales_channel
Agent                1660416
Branch               1199124
Call Center           868211
Web                   694610

In [72]:
#2

ma_df.pivot_table(index='education',values='customer_lifetime_value',  columns = 'gender',aggfunc= 'mean')

gender                          F            M
education
Bachelor              7874.269478  7703.601675
College               7748.823325  8052.459288
Doctor                7328.508916  7415.333638
High School or Below  8675.220201  8149.687783
Master                8157.053154  8168.832659

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here